*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    width: 1070px;
    max-width: 100%;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
    
  
